<h1>This is the AppComponent</h1>

<nav>
  <div class="todo">
    TODO: Replace this div with a link to <code>/about</code> here
  </div>
  <a routerLink="about">About</a>
  <div class="todo">
    TODO: Replace this div with a link to <code>/contact</code> here
  </div>
  <a routerLink="contact">Contact</a>
  <div class="todo">
    TODO: Replace this div with a link to the <code>/books</code> here
  </div>
  <a routerLink="books">Books</a>
  <div class="todo">
    TODO: Replace this div with a link to the <code>/emails</code> here
  </div>
  <a routerLink="emails">Emails</a>
</nav>

<div class="router-outlet">
  This is the main <code>router-outlet</code>
  <router-outlet></router-outlet>
</div>

